* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  height: 3200px;
  position: relative;
}

div {
  height: 600px;
}

.scroll-top {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #f00;
}
