* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Helvetica, sans-serif;
  display: flex;
}

button {
  cursor: pointer;
  border: none;
}

input {
  outline: none;
  border: none;
  background-color: #eceff1;
  border: 1px solid #cdcdcd;
}

input::-moz-placeholder {
  color: #393939;
  font-size: 0.9rem;
  text-transform: capitalize;
}

input::placeholder {
  color: #393939;
  font-size: 0.9rem;
  text-transform: capitalize;
}

aside {
  border-right: 1px solid #ccc;
  z-index: 1000;
  height: 100%;
  background-color: white;
  position: relative;
  transition: left 0.3s;
}
@media (width < 697px) {
  aside {
    position: absolute;
    top: 0;
    left: -100%;
  }
  aside.active {
    left: 0;
  }
  aside.active .menu {
    left: 100%;
    display: block;
  }
}
aside .menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  color: white;
  background-color: red;
}
aside form {
  display: flex;
  gap: 1rem;
  padding: 2rem 1.5rem;
}
aside form input {
  width: 230px;
  padding: 0.75rem 1rem;
  border-radius: 100px;
  transition: 0.3s;
}
aside form input:hover, aside form input:focus {
  border-color: #00b0ff;
}
aside form button {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  border-radius: 50%;
  background-color: #00b0ff;
  transform: 0.3s;
}
aside form button:hover {
  opacity: 0.8;
}
aside .contacts .person {
  width: 100%;
  padding: 0 2rem;
  transform: 0.3s;
}
aside .contacts .person:hover {
  background-color: #eceff1;
}
aside .contacts .person.active {
  background-color: #00b0ff;
}
aside .contacts .person.active * {
  color: white !important;
}
aside .contacts .person .cont {
  width: 100%;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #cdcdcd;
}
aside .contacts .person .cont .img-box {
  margin-right: 0.75rem;
}
aside .contacts .person .cont .img-box img {
  background-color: #e0e0e0;
  border: 1px solid #cdcdcd;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
aside .contacts .person .cont .txt-box {
  flex: 1;
}
aside .contacts .person .cont .txt-box .row {
  display: flex;
  justify-content: space-between;
}
aside .contacts .person .cont .txt-box .row h3 {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 0.4rem;
}
aside .contacts .person .cont .txt-box .row .date {
  color: rgba(0, 0, 0, 0.5333333333);
  font-size: 0.9rem;
}
aside .contacts .person .cont .txt-box p {
  color: rgba(0, 0, 0, 0.5333333333);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
main .person {
  display: flex;
  background: #eceff1;
  color: rgba(0, 0, 0, 0.5333333333);
}
main .person .menu {
  background-color: #00b0ff;
  color: white;
  height: 100%;
  padding: 0 1rem;
  display: none;
}
@media (width < 697px) {
  main .person .menu {
    display: block;
  }
}
main .person p {
  padding: 1rem 2rem;
}
main .person p span {
  color: black;
  font-weight: bold;
}
main .chat {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2rem;
  padding-top: 0;
  flex: 1;
}
main .chat .messages {
  display: flex;
  flex-direction: column;
}
main .chat .messages .date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.5333333333);
  margin-bottom: 2rem;
}
main .chat .messages .date span {
  flex: 1;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.402);
}
main .chat .messages .msg {
  margin-bottom: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 4px;
  position: relative;
}
main .chat .messages .msg::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 6px solid transparent;
}
main .chat .messages .msg.left {
  background-color: #00b0ff;
  color: white;
}
main .chat .messages .msg.left::before {
  right: 100%;
  border-right-color: #00b0ff;
}
main .chat .messages .msg.right {
  align-self: flex-end;
  background-color: #eceff1;
}
main .chat .messages .msg.right::before {
  left: 100%;
  border-left-color: #eceff1;
}
main .chat form {
  display: flex;
  border-radius: 3px;
  background-color: #eceff1;
  padding: 1rem;
  width: 100%;
}
main .chat form > * {
  padding: 0 0.5rem;
}
main .chat form input {
  flex: 1;
  border: none;
}
main .chat form button:hover {
  transition: 0.3s;
  background-color: transparent;
  color: #00b0ff;
}/*# sourceMappingURL=main.css.map */